@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

html {
  overflow: hidden;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-hover: var(--muted-hover);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Custom Accent Colors */
  --color-accent-primary: var(--accent-primary);
  --color-accent-primary-foreground: var(--accent-primary-foreground);
  --color-accent-fuchsia: var(--accent-fuchsia);
  --color-accent-fuchsia-foreground: var(--accent-fuchsia-foreground);
  --color-accent-purple: var(--accent-purple);
  --color-accent-purple-foreground: var(--accent-purple-foreground);
  --color-accent-success: var(--accent-success);
  --color-accent-success-foreground: var(--accent-success-foreground);

  --radius: var(--radius);
}

:root {
  --background: #fff;
  --foreground: #0a0a0a;
  --card: #fff;
  --card-foreground: #0a0a0a;
  --popover: #fff;
  --popover-foreground: #0a0a0a;
  --primary: #171717;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-hover: #e8e8e8;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --accent-primary: #cefbff;
  --accent-primary-foreground: #1cb0f6;
  --accent-fuchsia: #f9e6ff;
  --accent-fuchsia-foreground: #bf27d3;
  --accent-purple: #f2e6ff;
  --accent-purple-foreground: #9234ea;
  --accent-success: #dcfce7;
  --accent-success-foreground: #15803d;
  --destructive: #fb2d38;
  --destructive-foreground: #fafafa;
  --success: #00c750;
  --success-foreground: #fafafa;
  --error: #dc2626;
  --warning: #f59e0b;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #0a0a0a;
  --in-progress: #f0b100;
  --submitted: #00c750;
  --graded: #ad47ff;
  --radius: 0.75rem;

  --sidebar-background: #fafafa;
  --sidebar-foreground: #404040;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #3b82f6;
  --sidebar: #fafafa;

  --score-good-foreground: #15803d;
  --score-good-background: #dcfce7;
  --score-medium-foreground: #d97706;
  --score-medium-background: #fef3c7;
  --score-bad-foreground: #dc2626;
  --score-bad-background: #fee2e2;
  --chart-1: #2662d9;
  --chart-2: #2eb88a;
  --chart-3: #e88c30;
  --chart-4: #e8c468;
  --chart-5: #f4a462;
}

* { scrollbar-width: none !important; }

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: #0d0d0d;
  --foreground: #fafafa;
  --card: #0a0a0a;
  --card-foreground: #fafafa;
  --popover: #0a0a0a;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #1a1a1a;
  --muted-hover: #262626;
  --muted-foreground: #a3a3a3;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --accent-primary: #002e5f;
  --accent-primary-foreground: #46cbe3;
  --accent-fuchsia: #301a32;
  --accent-fuchsia-foreground: #e87bf9;
  --accent-purple: #291d35;
  --accent-purple-foreground: #bf83fc;
  --accent-success: #103a1f;
  --accent-success-foreground: #22c55e;
  --destructive: #fb2d38;
  --destructive-foreground: #fafafa;
  --success: #00c750;
  --success-foreground: #fafafa;
  --border: #262626;
  --input: #262626;
  --ring: #d4d4d4;
  --sidebar-background: #171717;
  --sidebar-foreground: #f5f5f5;
  --sidebar-primary: #1d4ed8;
  --sidebar-primary-foreground: #fff;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-border: #262626;
  --sidebar-ring: #3b82f6;
  --sidebar: #171717;
  --score-good-foreground: #22c55e;
  --score-good-background: #103a1f;
  --score-medium-foreground: #f59e0b;
  --score-medium-background: #4b2d0b;
  --score-bad-foreground: #ef4444;
  --score-bad-background: #4c1515;
  --chart-1: #2662d9;
  --chart-2: #2eb88a;
  --chart-3: #e88c30;
  --chart-4: #af57db;
  --chart-5: #e23670;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}